.page {
    background-color: #2A2C2F;
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Inter", Arial, sans-serif;
}
.header {
   max-width: 1184px;
   justify-content: space-between;
   display: flex;
   margin: auto;
   padding-right: 48px;
   padding-left: 48px;
   align-items: flex-end;
   margin-top: 28px;
}
.header__logo {
   width: 176px;
   height: 52px;
}
.header__lang-link {
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    gap: 18px;
    color: #fff;
    text-decoration: none;
}
.lead {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: auto;
    margin-top: 56px;
    margin-bottom: 92px;
    max-width: 984px;
    align-items: center;
}
.lead__title {
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #fff;
    font-weight: 900;
    margin: 0;
    margin-bottom: 32px;
}
.lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    max-width: 640px;
    margin: 0;
    margin-bottom: 64px;
}
.lead__image-section {
    margin: 0;
}
.image {
    width: 100%;
    margin: 0;
    object-fit: cover;
    padding: 0;
}
.lead__caption {
    align-self: flex-start;
    margin: 0;
    margin-top: 6px;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    color: #fff;
    font-weight: 400;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    max-width: 690px;
    margin-left: 148px;
    margin-bottom: 92px;

}
.intro__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #fff;
    margin: 0;
    margin-bottom: 40px;
}
.intro__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    margin: 0;
    margin-bottom: 33px;
}
.intro__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    color: #fff;
    margin: 0;
    padding: 0;
    } 
.intro__list_item {
    list-style: none;
    color: #fff;
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}
.intro__list_item__span-accent {
    font-weight: 700;
    font-size: 12px;
}
.photo-grid {
    display: grid;
    max-width: calc(100% - 96px);
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: auto;
    margin-bottom: 92px;
}
.photo-grid__item {
    margin: 0;
    box-sizing: border-box;
    max-width: 284px;
    max-height: 213px;
}
.photo-grid__image {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}
.places {
    margin: 0;
    margin-bottom: 92px;
}
.places:nth-last-child() {
    margin: 0; }

.place {
display: grid; 
grid-template-columns: 460px 1fr; 
grid-template-rows: auto; 
grid-column-gap: 40px;
grid-row-gap: 48px;
color: #fff; 
max-width: 984px;
margin: auto;
margin-bottom: 80px;
}
.place__title {
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    margin: 0;
    max-width: 460px;
}
.place__image {
width: 100%;
object-fit: cover;
}
.place__website {
    align-self: flex-end;
}
.place__paragraphs {
    margin: 0;
    max-width: 484px;
}
.place__website_url-heaading {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 20px;
    color: #aaa;
    margin: 0;
    margin-bottom: 12px;
}
.place__website_link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #fff;
    margin: 0;
}
.place__paragraph {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 26px;
}
.cover {
    background-image: url(./images/__background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1184px;
    min-height: 740px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;    
    z-index: 0;
    margin-bottom: 92px;
}
.cover__texts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    margin: 0 auto;
    position: relative;
    color: #fff;
}

.cover__background {
    z-index: -1;
   

}
.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 0;
    margin-bottom: 32px;
}
.cover__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    max-width: 360px;
    margin: 0;
}
.cover__overlay {
    background-color: #2A2C2F;
    opacity: 30%;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}
.footer {
    max-width: 1184px;
    justify-content: space-between;
    display: flex;
    margin: auto;
    padding-right: 48px;
    padding-left: 48px;
    align-items: space-between;
    color: #fff;
    margin-bottom: 24px;
}
.footer__links {
    display: flex;
    gap: 18px;
}
.footer__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    color: #fff;
    margin: 0;
}
.footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}