.footer {
  max-width: 1184px;
  justify-content: space-between;
  display: flex;
  margin: auto;
  padding-right: 48px;
  padding-left: 48px;
  align-items: space-between;
  color: #fff;
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding-right: 16px;
    padding-left: 16px;
  }
}
